* {
    margin: 0;
    padding: 0;
}

body {
    background: url(1.jpg) center no-repeat, black;
    width: 675px;
    height: 1200px;
    color: dodgerblue;
    font-family: Arial, serif;
}

.header {
    color: darkred;
    font-family: Impact, serif;
}

.introduction {
    color: white;
    font-style: italic;
}

.button {
    background-color: ghostwhite;
    border: none;
    color: darkred;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}